@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400&family=Orbitron:wght@500&display=swap');


body {
    text-align: center;
    margin: auto;
    margin: 0 auto;
    font-family: 'Jura', sans-serif;
    color: black;
    background-color: grey;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(108,196,23);
    font-family: 'Orbitron', sans-serif;
}

.container-main {
    display: flex;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: 'Jura', sans-serif;
    color: #7118C4;
}

label {
    padding-right: 10px;
    padding-left: 20px;
    font-size: 1rem;
}

.menu-buttons {
    display: inline-block;
    background-color: transparent;
    color: #7118C4;
    border: 2px solid #7118C4;
    font-weight: 700;
}

.menu-buttons a:hover {
    background-color: #7118C4;
    color: #fafafa;
}

meter::-webkit-meter-bar {
    background-color: rgb(108,196,23);
    box-shadow: 0 5px 5px -5px #999;
    background-size: 100% 100%;
}

.hide {
    display: none;
}

.screen {
    display: block;
}
